<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charlotte Moolenaar</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1><a href="../index.html">Code by Charlo</a></h1> 
        <nav> 
            <ul>
                <li><a href="../works.html">Works</a></li>
                <li><a href="../blog.html">Blog</a></li>
                <li><a href="mailto:freelance.charlomoo@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="heroProject">
            <h2>Project Name</h2>
            <p>Designed and developed the Fitkleding website, focusing on a dynamic and performance-driven layout that reflects the brand’s passion for tennis. Prioritized speed, usability, and clean aesthetics to create a seamless shopping experience that aligns with the brand’s active identity.</p>
            <a href="index.html">See website</a>
        </section>
        <div class="projectimage">
            <img src="../images/fitkledingThumbnail.png" alt="">
        </div>
        <section class="projectInfo">
            <p>→ <strong>Tech:</strong> Next.js, Tailwind CSS, Figma</p>
            <p>→ <strong>Description:</strong> Redesigned the frontend for better usability.</p>
            <p>→ <strong>Role:</strong> Frontend Developer</p>
        </section>
    </main>
    <footer>
        <ul>
            <li>Instagram</li>
            <li>LinkedIn</li>
            <li>YouTube</li>
            <li>Dribbble</li>
            <li>Behance</li>
        </ul>
        <section>
            <h2>Got questions or want to collaborate? Feel free to reach out – I’d love to connect!</h2>
            <div> 
                <input type="text" placeholder="TYPE HERE YOUR MESSAGE...">
            </div>
        </section>
    </footer>
</body>
</html>